body {
    margin: 0;
    padding: 0;
    /*background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");*/
    background: url('../images/bg-lego.jpg')no-repeat center fixed;
    background-size: cover;
 }

.page-item.active .page-link {
    background-color: #00183C;
    border-color: #00183C;
 }

.colorError {
    color: #ff7b00;
}

.color-blueLight {
    color: #B8E9FA;
}

footer {
    /*position: fixed;*/
    height: 50px;
    /*bottom: 0;*/
    /*width: 100%;*/

}

.bg-blueLight {
    background-color: #B8E9FA;
}

.bg-blueDark {
    background-color: #00183C;
}

