<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Jeux Vidéos</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{css/style.css}" />
</head>
<body>

<div class="container mt-3">
    <form th:action="@{index}" method="get">
        <div class="form-row">
            <input type="text" name="mc" th:value="${mc}" placeholder="Nom du Jeu" class="form-control col-md-3" />
            <button class="btn btn-dark ml-2">Chercher</button>
        </div>
    </form>
</div>
<div class="container mt-3">
    <h2 style="color:white">Catalogue de jeux vidéos</h2><br/>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th><th>Nom</th><th>Possesseur</th><th style="width:120px">Console</th><th>Prix</th><th style="width:120px">Nb joueurs</th><th>Commentaires</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="j:${listJeux}">
                <td th:text="${j.id}"></td>
                <td th:text="${j.nom}"></td>
                <td th:text="${j.possesseur}"></td>
                <td th:text="${j.console}"></td>
                <td th:text="${j.prix}"></td>
                <td th:text="${j.nb_joueurs_max}"></td>
                <td th:text="${j.commentaires}"></td>
                <td>
                    <a th:href="@{delete(id=${j.id}, page=${pageCourante}, size=${size}, mc=${mc})}"
                       class="text-warning"
                       onclick="return confirm('Etes-vous sûr de vouloir supprimer ce jeu ?')">Suppr
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <ul class="pagination">
        <li th:class="${pageCourante}==${status.index}?'page-item active':''"
            th:each="page,status:${tabPages}" class="page-item">
            <a th:href="@{index(page=${status.index}, size=${size}, mc=${mc})}"
               th:text="${status.index}" class="page-link"></a>
        </li>
    </ul>
</div>

</body>
</html>